{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.
 --}}

 {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Burger Time!</title>
    {{!-- Style --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    {{!-- JQuery --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    
    {{!-- Javascript File --}}
    <script src="/assets/javascript/burgers.js"></script> 
</head>
<body>

    {{{ body }}}

   
</body>
</html>

